In [1]:
# set
# -no indexing
# -unordered
# -Multiple but no duplicate data
# -muitable

In [2]:
s={"Apple","Ball","Cat","Dog","Fish"}
print(s)

{'Ball', 'Cat', 'Apple', 'Fish', 'Dog'}

In [6]:
s={"Apple","Ball","Cat","Dog","Fish","Apple"}
print(s)

s[0]

{'Ball', 'Cat', 'Apple', 'Fish', 'Dog'}

TypeError: 'set' object is not subscriptable

In [4]:
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [5]:
a={1,2,3,4,5}
b={6,7,8,9,10}
c=a*b
print(c)

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [8]:
s={1}
type(s)

set

In [9]:
#add()
s=set()
s.add("Apple")
s.add("Ball")
print(s)

{'Apple', 'Ball'}

In [10]:
#update
a={1,2,3,4,5}
b={6,7,8,9,10}
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
#remove
a={"Apple","Ball"}
a.remove("Apple")
a

{'Ball'}

In [13]:
#removing duplicate value using set

a=[2,3,3,4,2,5,4,6,6,7,8,9,7,6,5,4,4,0]
a=list(set(a))
a

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#no mutable data inside set
# no list,dictionary,set inside set
a={(1,2,3),(3,4,5)}
a

{(1, 2, 3), (3, 4, 5)}

In [15]:
a={[1,2,3],[4,5,6]}
a

TypeError: unhashable type: 'list'

In [16]:
#intersection
Apple={"Ram","Jobs","Mike","John","Rakesh"}
Ms={"Bill","Satya","Ram","John","Mike","Antman"}
i=Apple.intersection(Ms)
print(i)

{'Mike', 'John', 'Ram'}

In [17]:
#union
Apple={"Ram","Jobs","Mike","John","Rakesh"}
Ms={"Bill","Satya","Ram","John","Mike","Antman"}
un=Apple.union(Ms)
print(un)

{'Antman', 'John', 'Satya', 'Jobs', 'Rakesh', 'Bill', 'Mike', 'Ram'}

In [18]:
#only apple employee
print(Apple-Ms)

{'Jobs', 'Rakesh'}

In [21]:
#unemployment
U={'Antman', 'John', 'Satya', 'Jobs', 'Rakesh', 'Bill', 'Mike', 'Ram','xyz','abc'}
Apple={"Ram","Jobs","Mike","John","Rakesh"}
Ms={"Bill","Satya","Ram","John","Mike","Antman"}

un=Apple.union(Ms)
print(U-un)

{'abc', 'xyz'}