In [1]:

try:
    file =open('data.txt','r')
    file.close()
except:
    print("The file is already There!!!")

In [2]:
file=open('data.txt','r')
data=file.read()
print(data)
file.close()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [3]:
with open('data.txt','r') as file:
    print(file.read())

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [4]:
try:
    file =open('data.txt','r')
    file.close()
except:
    print("The file is already There!!!")

In [9]:
file= open('data2.txt','r')
data=file.read()
print(data)
file.close()

sn,name,age,ph
1,ram,33,1342343
2,gari,66,435634

In [10]:
alldata=[]
x=data.split("\n")
print(x)

for i in x:
    alldata.append(i.split(','))
alldata

['sn,name,age,ph', '1,ram,33,1342343', '2,gari,66,435634']

[['sn', 'name', 'age', 'ph'],
 ['1', 'ram', '33', '1342343'],
 ['2', 'gari', '66', '435634']]

In [15]:
file= open('data1.txt','w')
data=file.write("HelloWorld")
file.close()

file=open('data1.txt','r')
print(file.read())
file.close()

HelloWorld

In [27]:
info=""
all_total=0
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    quantity=int(input("Enter Quantity = "))
    total=price*quantity
    info= info+f"{name} {price} {quantity} {total}\n"
    all_total=all_total+total
print("Bill\n",info)
print("All Total = ",all_total)


file=open('bill.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(info)
file.close()

Enter n = 2
Enter name = 23
Enter price = 23
Enter Quantity = 2
Enter name = 32
Enter price = 23
Enter Quantity = 23
Bill
 23 23 2 46
32 23 23 529

All Total =  575

In [28]:
pwd

'C:\\Users\\LENOVO\\ClassPython4PM'