In [1]:
a=input()

3234

In [2]:
a

'3234'

In [3]:
a=input("Enter a= ")
print(a)
print(type(a))

Enter a= 12
12
<class 'str'>

In [5]:
a=int(input("Enter a="))
print(a)
type(a)

Enter a=22
22

int

In [7]:
p=int(input("Enter p="))  #int() str() float() bool() complex()
t=float(input("Enter t="))
r=float(input("Enter r="))
i=p*t*r/100
print("The value of i =",i)

Enter p=2300
Enter t=3.3
Enter r=4
The value of i = 303.6

In [11]:
a=10    #conversion
b=str(a)
b

'10'

In [12]:
a=10
b=float(a)
b

10.0

In [16]:
a=0.0    #except 0 all true
b=bool(a)
b

False

In [17]:
a=10
b=complex(a)
b

(10+0j)

In [18]:
a="Hello"
b=10
c=a+str(b)
print(c)

Hello10

In [22]:
name=input("Enter name =")
age=int(input("Enter age ="))
add=input("Enter address =")

info="Hello World I am "+ name + " I am from " + add + " I am " +str(age) +"years old"
print (info)

Enter name =rrr
Enter age =23
Enter address =asd
Hello World I am rrr I am from asd I am 23years old

In [23]:
name = input("Enter name = ")
phy = int(input("Enter your mark in physics = "))
chem = int(input("Enter your marks in chemistry = "))
math = int(input("Enter your marks in math = "))

total= phy+chem+math
percentage= total/300*100
print("Welcome ",name )
print("Your totalmark is ",total)
print("your percentage is", percentage,"%")

Enter name = rr
Enter your mark in physics = 67
Enter your marks in chemistry = 56
Enter your marks in math = 99
Welcome  rr
Your totalmark is  222
your percentage is 74.0 %

In [24]:
#comparison operator < , > , <= , >= , == , !=

In [25]:
a=12  #== compare same value or not
b=12
print(a==b)

True

In [26]:
a=3
b=4
print(a>=b)

False