In [1]:
#Loop
#for loop
#while loop

#range(5)->0,1,2,3,4
#range(1,5)->1,2,3,4
#range(1,10,2)->1,3,5,7,9

In [2]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [4]:
for i in range(1,10,2):
    print(i,"Hello World")

1 Hello World
3 Hello World
5 Hello World
7 Hello World
9 Hello World

In [10]:
n=int(input("Enter a number = "))
for i in range(1,11):
    print(n,"*",i,"=",i*n)

Enter a number = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [13]:
s=0
n=int(input("Enter n = "))
for i in range(n):
    x=int(input("Enter x = "))
    s=s+x
print(s)

Enter n = 3
Enter x = 2
Enter x = 2
Enter x = 2
6

In [16]:
s=str()
n=int(input("Enter n = "))
for i in range(n):
    name=(input("Enter name = "))
    s=s+name+"\n"
print(s)

Enter n = 3
Enter name = ram
Enter name = sam
Enter name = hari
ram
sam
hari

In [18]:
s=str()
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    phone =input("Enter phone = ")
    s=s+name+" number is "+phone+"\n"
print(s)

Enter n = 3
Enter name = ram
Enter phone = 4444
Enter name = sam
Enter phone = 555
Enter name = hari
Enter phone = 999
ram number is 4444
sam number is 555
hari number is 999

In [19]:
a="Ram\nSam\nHari"
print(a)

Ram
Sam
Hari

In [28]:
n=int(input("Enter n = "))#factorial
f=1
for i in range(1,n+1):
    f=f*i
print(f)

Enter n = 5
120

In [ ]:
#for loop in string

In [34]:
a="python"
for i in a:
    print (i)

p
y
t
h
o
n

In [35]:
a="python"
for i in a:
    print (i,"Hello world")

p Hello world
y Hello world
t Hello world
h Hello world
o Hello world
n Hello world

In [39]:
#end ="" for horizontal
#end =" " for horizontal plus space between char

a="Hello World Python"
for i in a:
    print (i,end ="  ")

H  e  l  l  o     W  o  r  l  d     P  y  t  h  o  n