In [1]:
#string

In [2]:
s="Hello world"
print(type(s))

<class 'str'>

In [8]:
s='Hello World'
c='''Hello World'''
print(type(s),type(c))

<class 'str'> <class 'str'>

In [9]:
a="Hello World I am Python"
print(a[0])
print(a[0:5])
print(a[0:10:2])

H
Hello
HloWr

In [10]:
a="Hello World I am Python"
b=a[0:5]
print(b)

Hello

In [16]:
a="Python"
print(a[-1:-7:-1])

nohtyP

In [18]:
a="Python"
print(a[::-1])

nohtyP

In [21]:
a="Python"
l=len(a)
for i in range(l):
    print(a[i],end="")

Python

In [32]:
i=0
a="Python"
l=len(a)
while i<l:
    print(a[i],end="")
    i=i+1

Python

In [33]:
#WAP to create a billing system
#name,price,quantity,total

In [38]:
i=int(input("Enter i = "))
while i>0:
    n=input("Enter name = ")
    p=int(input("Enter price = "))
    q=int(input("Enter quantity = "))
    total=p*q
    i=i-1
print("Product name",":",n,"Price",":",p,"Quantity",":",q,"Total",":",total)

Enter i = 1
Enter name = r
Enter price = 2
Enter quantity = 2
Product name : r Price : 2 Quantity : 2 Total : 4

In [37]:
info=""
all_total=0
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    quantity=int(input("Enter Quantity = "))
    total=price*quantity
    info= info+f"{name} {price} {quantity} {total}\n"
    all_total=all_total+total
print("Bill\n",info)
print("All Total = ",all_total)

Enter n = 2
Enter name = apple
Enter price = 2
Enter Quantity = 2
Enter name = Banana
Enter price = 3
Enter Quantity = 3
Bill
 apple 2 2 4
Banana 3 3 9

All Total =  13

In [3]:
info="Ram Sam Hari Sita Gita Ramesh"
name="Ram"
if name in info:
    print("Yes")
    print(info.count(name))

Yes
2

In [4]:
info="Ram Sam Hari Sita Gita Ramesh"
name=input("Enter name = ")
if name in info:
    print("Yes")
    print(info.count(name))
else:
    print("There is no any name")

Enter name = ram
There is no any name

In [5]:
info="Ram Sam Hari Sita Gita Ramesh"
print(info.lower())
print(info.upper())

ram sam hari sita gita ramesh
RAM SAM HARI SITA GITA RAMESH

In [6]:

info="Ram Sam Hari Sita Gita Ramesh"
info.split()

['Ram', 'Sam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [9]:
info=""
all_total=0
n=int(input("Enter n = "))
for i in range(n):
    name=input("Enter name = ")
    price=int(input("Enter price = "))
    quantity=int(input("Enter Quantity = "))
    total=price*quantity
    info= info+f"{name} {price} {quantity} {total}\n"
    all_total=all_total+total
print("Bill\n",info)
print("All Total = ",all_total)

Enter n = 2
Enter name = apple
Enter price = 23
Enter Quantity = 5
Enter name = banana
Enter price = 45
Enter Quantity = 6
Bill
 apple 23 5 115
banana 45 6 270

All Total =  385

In [10]:
info

'apple 23 5 115\nbanana 45 6 270\n'

In [17]:
a=info.split('\n')[:-1]
a

['apple 23 5 115', 'banana 45 6 270']

In [15]:
bill_list=[]
for i in a:
    bill_list.append(i.split())
bill_list

[['apple', '23', '5', '115'], ['banana', '45', '6', '270']]