In [1]:
#list inside list

In [2]:
a=[[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>

In [13]:
a=[["Ram",14,"Kathmandu"],["Sham",34,"Bhaktapur"],["Hari",44,"Lalitpur"]]
print(a)

[['Ram', 14, 'Kathmandu'], ['Sham', 34, 'Bhaktapur'], ['Hari', 44, 'Lalitpur']]

In [8]:
l=[]
n=int(input("Enter n = "))
for i in range (n):
    name=input('Enter name = ')
    age=int(input('Enter age = '))
    add=input('Enter add = ')
    l.append([name,age,add])
print(l)

Enter n = 1
Enter name = a
Enter age = 44
Enter add = 3
[['a', 44, '3']]

In [12]:
a=[['Ram',4,'Kathmandu'],
  ['Hari',5,'Bhaktapur']]
print(a)
print(a[0])
print(a[1][0])

[['Ram', 4, 'Kathmandu'], ['Hari', 5, 'Bhaktapur']]
['Ram', 4, 'Kathmandu']
Hari

In [17]:
#append
a=[['Ram',4,'Kathmandu'],
  ['Hari',5,'Bhaktapur']]
a.append(['Sam',66,'Lalitpur'])
print(a)

[['Ram', 4, 'Kathmandu'], ['Hari', 5, 'Bhaktapur'], ['Sam', 66, 'Lalitpur']]

In [18]:
del a[1]
a

[['Ram', 4, 'Kathmandu'], ['Sam', 66, 'Lalitpur']]

In [24]:
#search
a=[['Ram',4,'Kathmandu'],
  ['Hari',5,'Bhaktapur'],
  ['Sam',6,'Lalitpur']]
name=input("Enter the name = ")
for i in a:
    if name in i:
        print(i)

Enter the name = Sam
['Sam', 6, 'Lalitpur']

In [25]:
a=[['Ram',4,'Kathmandu'],
  ['Hari',5,'Bhaktapur'],
  ['Sam',6,'Lalitpur']]
a[0][2]='Lumbini'
a

[['Ram', 4, 'Lumbini'], ['Hari', 5, 'Bhaktapur'], ['Sam', 6, 'Lalitpur']]

In [26]:
a=[['Ram',4,'Kathmandu'],
  ['Hari',5,'Bhaktapur'],
  ['Sam',6,'Lalitpur']]
name=input("Enter the name = ")
for i in a:
    if name.lower() in i[0].lower():
        print(i)

Enter the name = ram
['Ram', 4, 'Kathmandu']