In [1]:
# tuple
# -indexing
# -ordered
# -multiple and dublicate data
# -Imutable

In [2]:
#a=tuple()

In [5]:
a=(1,2,3,4,5,6,7)
b=("Apple","Ball","Cat")
print(a)
print(b)

print(type(a))
print(type(b))

(1, 2, 3, 4, 5, 6, 7)
('Apple', 'Ball', 'Cat')
<class 'tuple'>
<class 'tuple'>

In [4]:
b=("Apple","Ball","Cat","Dog")
print(b[0])

Apple

In [6]:
#no append() extend() insert()
#no update
#no del pop() remove()
#no sort()

In [7]:
#tuple cant have only single value

In [8]:
a=("Apple",)
print(type(a))

<class 'tuple'>

In [9]:
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [10]:
a=(1,2,3)
print(a*2)

(1, 2, 3, 1, 2, 3)

In [11]:
a=()
n=int(input("Enter the n = "))
for i in range(n):
    x=int(input("Enter the x = "))
    a=a+(x,)
print(a)

Enter the n = 2
Enter the x = 3
Enter the x = 4
(3, 4)

In [12]:
a=("Hello",)
tuple(a)

('Hello',)

In [13]:
#min() max() sum()

In [14]:
a=(234,435,467,67,78,897,234)
print(min(a))
print(max(a))
print(sum(a))

67
897
2412

In [15]:
a=(1,2,3)
b=list(a)
del b[2]
print(b)

[1, 2]

In [16]:
a=tuple(b)
print(a)

(1, 2)

In [17]:
#tuple inside list
a=[(1,2),(3,4),(5,6)]
a

[(1, 2), (3, 4), (5, 6)]

In [18]:
#list inside tuple
a=([1,2],[3,4],[5,6])
a

([1, 2], [3, 4], [5, 6])

In [19]:
#tuple inside tuple
a=((1,2),(3,4),(5,6))
a

((1, 2), (3, 4), (5, 6))

In [ ]:
# a=(('Ram',4,'Kathmandu'),('Hari',5,'Bhaktapur'),('Sam',6,'Lalitpur'))
a=()
n=int(input("Enter the n = "))
for i in range(n):
    nm=input("Enter the nm = ")
    x=int(input("Enter the x = "))
    ad=input("Enter the ad = ")
    a=a+((nm,x,ad),)
print(a)

Enter the n = 2